# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Lesson5P.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Work\Lesson5P\.idea\.idea.Lesson5P\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
